/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.card {
  box-shadow: 0 0 20px 0;
  transition: 0.3s;
  height: auto;
  margin: 10px;
  padding: 45px;
  max-width: 46rem;
}
.login_card
{
  margin-top: 91px; 
}
.register_card
{
  margin-top: 91px; 
}
.forget_password_card
{
  margin-top: 91px; 
}
.medium-button
{
	width: 147px;
}
.large-button
{
	width: 250px;
}
