<div class="container-fluid">
	<center><h1>Products</h1></center>	
	<br>
	<table class="table table-bordered">
		<thead>
			<tr>
			<th>Name</th>
			<th>Description</th>
			<th></th>
			</tr>
		</thead>
		<tbody>
			<%@products.each do |product|%>
				<tr>
					<td><%= product.name%></td>
					<td><%= product.description%></td>
					<td><%= link_to 'Details', products_show_path(:id => product.id), :class => "btn btn-primary btn-xs"%></td>
				</tr>
			<%end%>
		</tbody>
	</table>

</div>

