<!DOCTYPE html>
<html>
  <head>
    <title>ProductCostApp</title>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//maps.google.com/maps/api/js?key=AIzaSyA5LrPhIokuSBO5EgKEcfu859gog6fRF8w"></script>
    <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <!-- Collection of nav links and other content for toggling -->
      <div id="navbarCollapse" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <%country_code = current_user.login_country_code%>
           <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>     
      
        <% else %>
         <li><%= link_to('Login', new_user_session_path)  %></li>
          
        <% end %>
          </ul>
      </div>
    </nav>
    <% if alert.present? %>
      <div class="alert alert-danger alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong><%= alert %></strong>
      </div>
    <% end %>
    <% if notice.present? %>
      <div class="alert alert-info alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong><%= notice %></strong>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>

<script>
  var is_signed_in = '<%= user_signed_in?%>'
  if(is_signed_in == 'true')
  {
    var country_code = "<%=country_code%>"
    if(country_code == "" || country_code == null)
    {
      getLocation();
    }

  }
  
  
  function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        console.log("Geolocation is not supported by this browser.");
    }
  }
  function showPosition(position) {
      GetAddress(position.coords.latitude, position.coords.longitude)
  }

  function GetAddress(lat, lng) {
      var latlng = new google.maps.LatLng(lat, lng);
      var geocoder = geocoder = new google.maps.Geocoder();
      geocoder.geocode({'latLng': latlng}, function (results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
              if (results[0]) {
                  var address = results[1].address_components;
                  for (var i = 0, iLen = address.length; i < iLen; i++) {
                      if (address[i].types[0] === 'country') {
                          var countryName = address[i].short_name;
                          $.getScript('/home/update_country.js?pt=' + countryName) 
                      }
                  }
              }
          }
      });
  }
</script>
